<footer class="">
  <img src="/breadcrumb-1.webp" alt="breadcrumb" class="w-100" />
  <div class="container pb-5  ">
    <section class="infofooter ">
      <div class="row g-5">
        <div class="col-md-4">
          <div class="text-center">
            <p class="cliip h2">LOCATION</p>
            <p>2215 John Daniel Drive</p>
            <p>Clark, MO 65243</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="">
            <div class="cliip text-center h2">AROUND THE WEB</div>
            <div class="footericon d-flex justify-content-center">
              <a href="#" class="border-2 rounded-circle"><i class="fa-brands fa-facebook"></i></a>
              <a href="#" class="ms-2 border-2 rounded-circle"><i class="fa-brands fa-twitter"></i></a>
              <a href="#" class="ms-2 border-2 rounded-circle"><i class="fa-brands fa-linkedin-in"></i></a>
              <a href="#" class="ms-2 border-2 rounded-circle"><i class="fa-solid fa-globe-americas"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="text-center">
            <p class="cliip h2">AROUND THE WEB</p>
            <p>
              Freelance is a free to use, licensed Bootstrap theme created by
              Route
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="copyright text-white text-center py-2">
    <p>
      © 2024 Stitch it All rights reserved |
      Designed By</p>
    <p><span class="designer text-danger fw-bold">Kareem Farouh</span>
      From <span class="designer text-danger fw-bold">Thinkadv</span>
    </p>
  </section>
</footer>