<section id="about" class="about text-center  bg-white py-5">
    <div class="container pt-5">
        <div class="d-block header position-relative ">
            <span class=" h1 fw-bold">ABOUT US!</span>
        </div>
        <div class="row py-5">
            <div class="col-md-5 p-4">
                <div class="pict border border-1 overflow-hidden py-5 rounded-1"> <img
                        src="/Designed-For-You-Pink-3.jpg" class="  img-about w-75" alt="Designed">
                </div>
            </div>
            <div class="col-md-7 pt-3">
                <div>
                    <p class="wys p-3  h1">Wear Your Story</p>
                    <div class=" star position-relative ">
                        <span> <img src="/logo.webp" alt="logostitch"></span>
                    </div>
                    <p class="py-3">At Stitchit, we’re two college students with a passion for creativity,
                        individuality,
                        and
                        self-expression. We believe
                        clothing should be more than just what you wear—it should be a canvas for your unique
                        personality
                        and style.
                    </p>

                    <p class="pb-3">That’s we started this brand: to offer something different from the usual local
                        options.
                        Our
                        mission
                        is
                        to
                        provide a
                        fun, colorful, and imaginative shopping experience where customers can customize their pieces
                        and
                        truly make
                        them
                        their
                        own.</p>

                    <p class="pb-3">We want every item to feel like a personal creation, reflecting the vibrant and
                        diverse
                        personalities of
                        our
                        community.
                        At Stitchit, we’re not just about fashion—we’re about sparking creativity and celebrating the
                        bold,
                        the
                        quirky,
                        and
                        the
                        one-of-a-kind.</p>
                </div>
            </div>
        </div>
    </div>
</section>