.navbar-brand {
  color: white;
  font-style: oblique;
  font-size: 1.2rem;
  font-weight: 800;

  background-image: linear-gradient(
    to right,
    rgb(26, 188, 156),
    rgb(179, 237, 240),
    white,
    rgb(253, 36, 113)
  );
  background-clip: text;
  color: transparent;
}

.navbar-brand img {
  width: 150px;
}
.nav-link {
  background-image: linear-gradient(
    to right,
    rgb(26, 188, 156),
    rgb(179, 237, 240),
    white,
    rgb(253, 36, 113)
  );
  background-clip: text;
  color: transparent;
  font-weight: 700;
  transition: all 0.5s;
}
.nav-link:hover {
  color: white;
}
nav {
  background-color: rgba(0, 0, 0, 0.738);
  border-bottom: solid rgb(253, 36, 113);
}

nav .nav-link.active {
  background-image: linear-gradient(
    to right,
    rgb(26, 188, 156),
    rgb(179, 237, 240),
    white,
    rgb(253, 36, 113)
  );
  background-clip: text;
  color: transparent;
}
