<section id="portfolio" class="portfolio bg-body-secondary py-4">

    <div class="container pt-5">
        <div class="header text-center">
            <p class="h1">OUR PRODUCT</p>
            <div class=" star position-relative d-inline-block">
                <i class="str fa-solid fa-star"></i>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-md-6 col-lg-4 px-4 ">
                <div class="card position-relative rounded-2 overflow-hidden mt-3 p-2 text-center">
                    <div class="w-100"><img src="/Pink-Lemonade-Main-480x638.webp" class="w-100 rounded-2"
                            alt="Pink-Lemonade">
                    </div>
                    <a href="Pink-Lemonade-Main-480x638.webp">
                        <div
                            class="over-layer position-absolute  top-0 start-0 h-100 w-100 d-flex justify-content-center align-items-center bg-black bg-opacity-50">
                            <i class=" fa fa-search-plus fa-3x text-white"> Zoom</i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 px-4">
                <div class=" card position-relative rounded-2 overflow-hidden mt-3 p-2 text-center">
                    <div class="w-100 h-100"><img src="/0193_2194_647_of.jpg" class="w-100 rounded-2"
                            alt="Pink-Lemonade">
                    </div>
                    <a href="0193_2194_647_of.jpg">
                        <div
                            class="over-layer position-absolute  top-0 start-0 h-100 w-100 d-flex justify-content-center align-items-center bg-black bg-opacity-50">
                            <i class=" fa fa-search-plus fa-3x text-white"> Zoom</i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 px-4">
                <div class="card position-relative rounded-2 overflow-hidden mt-3 p-2 text-center">
                    <div class="w-100"><img src="/Designed-White-3.jpg" class="w-100 rounded-2" alt="Pink-Lemonade">
                    </div>
                    <a href="Designed-White-3.jpg">
                        <div
                            class="over-layer position-absolute  top-0 start-0 h-100 w-100 d-flex justify-content-center align-items-center bg-black bg-opacity-50">
                            <i class=" fa fa-search-plus fa-3x text-white"> Zoom</i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 px-4">
                <div class="card position-relative rounded-2 overflow-hidden mt-3 p-2 text-center">
                    <div class="w-100"><img src="/Designed-White-1.jpg" class="w-100 rounded-2" alt="Pink-Lemonade">
                    </div>
                    <a href="Designed-White-1.jpg">
                        <div
                            class="over-layer position-absolute  top-0 start-0 h-100 w-100 d-flex justify-content-center align-items-center bg-black bg-opacity-50">
                            <i class=" fa fa-search-plus fa-3x text-white"> Zoom</i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 px-4">
                <div class="card position-relative rounded-2 overflow-hidden mt-3 p-2 text-center">
                    <div class="w-100"><img src="/Designed-White-2.jpg" class="w-100 rounded-2" alt="Pink-Lemonade">
                    </div>
                    <a href="Designed-White-2.jpg">
                        <div
                            class="over-layer position-absolute  top-0 start-0 h-100 w-100 d-flex justify-content-center align-items-center bg-black bg-opacity-50">
                            <i class=" fa fa-search-plus fa-3x text-white"> Zoom</i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 px-4">
                <div class="card position-relative rounded-2 overflow-hidden mt-3 p-2 text-center">
                    <div class="w-100"><img src="/Designed-White-4.jpg" class="w-100 rounded-2" alt="Pink-Lemonade">
                    </div>
                    <a href="Designed-White-4.jpg">
                        <div
                            class="over-layer position-absolute  top-0 start-0 h-100 w-100 d-flex justify-content-center align-items-center bg-black bg-opacity-50">
                            <i class=" fa fa-search-plus fa-3x text-white"> Zoom</i>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>


</section>