<section class="bg-body-secondary">
    <div class="container-fluid opacity-75">
        <div class="row text-center py-1 overflow-hidden ">
            <div class="col-2 ">
                <img src="/s1.webp" class="w-50 animat aen" alt="aen">
                <img src="/s2.webp" class="w-50 animat1 karaz" alt="karaz">
            </div>

            <div class="col-2 "><img src="/s7.webp" class="w-50 animat bata" alt="bata">
                <img src="/s5.webp" class="w-50 animat music" alt="music">
            </div>
            <div class="col-2 ">
                <img src="/s9.webp" class="w-50 animat banana" alt="banana">
                <img src="/s10.webp" class="w-50 animat1 donates" alt="donates">
            </div>
            <div class="col-2 ">
                <img src="/s3.webp" class="w-50 animat feshar" alt="feshar">
                <img src="/s4.webp" class="w-50 animat sun" alt="sun">
            </div>

            <div class="col-2 ">
                <img src="/s6.webp" class="w-50 animat kotchina" alt="kotchina">
                <img src="/s8.webp" class="w-50 animat1 penaple" alt="penaple">
            </div>

            <div class="col-2 ">
                <img src="/s9.webp" class="w-50 animat1 banana" alt="banana">
                <img src="/s10.webp" class="w-50 animat donates" alt="donates">
            </div>
            <div class="col-2 ">
                <img src="/s11.webp" class="w-50 animat batates" alt="batates">
                <img src="/s12.webp" class="w-50 animat eed" alt="eed">
            </div>
            <div class="col-2 ">
                <img src="/s22.webp" class="w-50 animat lemonada" alt="lemonada">
                <img src="/s1.webp" class="w-50 animat1 een" alt="een">
            </div>
            <div class="col-2 ">
                <img src="/s6.webp" class="w-50 animat1 kotchina" alt="kotchina">
                <img src="/s8.webp" class="w-50 animat penaple" alt="penaple">
            </div>
            <div class="col-2 "><img src="/s7.webp" class="w-50 animat bata" alt="bata">
                <img src="/s5.webp" class="w-50 animat music" alt="music">
            </div>
            <div class="col-2 ">
                <img src="/s11.webp" class="w-50 animat1 batates" alt="batates">
                <img src="/s12.webp" class="w-50 animat eed" alt="eed">
            </div>
            <div class="col-2 ">
                <img src="/s3.webp " class="w-50 animat feshar" alt="feshar">
                <img src="/s4.webp" class="w-50 animat1 sun" alt="sun">
            </div>


        </div>
    </div>
</section>