<section id="home" class="home  bg-black">
  <div class=" ">
    <img src="/hamada.webp" alt="breadcrumb" class="w-100 border-top border-3" />
  </div>

  <div class="container pt-5 ">
    <div class="row g-3 pb-5">
      <div class="col-md-12 text-center text-white">
        <div class="pb-4">
          <p class="h3">WELCOME IN STITCH </p>
          <p class="h6">Hoodies Made For You </p>
          <div class=" star position-relative d-inline-block">
            <i class="str fa-solid fa-star"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <p class="text-center text-white h3">Hii Bro !!</p>
        <div class="boy bg-white border border-3 rounded-3">
          <img src="/new-slider-2.webp" class="ani boybrand w-100" alt="boybrand" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center d-flex flex-column justify-content-center align-items-center">
          <img class="logostitch w-75" src="/logo-white.webp" alt="logostitch" />
          <img class="stitch w-75" src="/s16.webp" alt="stitch" />
        </div>
      </div>
      <div class="col-md-4">
        <p class="text-center text-white h3">I'm Just a Girl</p>
        <div class="girl bg-white border border-3 rounded-3">
          <img class="ani girlbrand w-100" src="/new-slider-1.webp" alt="girlbrand" />
        </div>
      </div>

    </div>
  </div>
  <div class=" w-100">
    <img src="/edela.jpg" alt="breadcrumb" class="w-100" />
  </div>
</section>